@import "~style/mixins";

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  &.fixed {
    position: fixed;
    top: -3px;
    left: 280px;
    @include breakpoint(mobile) {
      left: 70px;
    }
  }
  & > h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #363636;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.headerSpace {
  height: 30px;
}
