@import '~style/variables.scss';

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: $navbar-height;
  width: 100%;
  @extend .navbar;
  .img {
    max-height: none;
  }

  .burgerIcon {
    margin-left: 0;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    @extend .navbar-burger;
    @extend .burger;
  }

  .navbarLogo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    @extend .navbar-item;
  }
}

.navbarBrand {
  width: 250px;
  background-color: $blue;
  position: relative;
  @extend .navbar-brand;
}

.dropdownButton {
  background-color: transparent;
  border: none;
  @extend .dropdown-item;
}