
.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  &.fixed {
    position: fixed;
    margin-top: -74px;
  }
  & > h1 {
    font-size: 2rem;
    font-weight: 600;
    color: #363636;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.headerSpace {
  height: 10px;
}
