@import "~style/variables";
@import "~style/mixins";

.brandContainer {
  position: absolute;
  width: 250px;
  display: flex;
}

.sideMenu__space {
  transition: margin-left 0.5s;
  width: 250px;
  @include breakpoint(mobile) {
    display: none;
  }
}

.sideMenu {
  position: fixed;
  transition: margin-left 0.5s;
  width: 250px;
  height: 100vh;
  background: #1d2332;
  padding-top: 90px;
  color: #ddd;
  .sideMenu__menuLabel {
    padding: 0 15px;
    font-size: 0.75em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
  .sideMenu__menuList {
    padding: 0 15px;
    & > a {
      border-radius: 2px;
      display: block;
      padding: 0.5em 0.75em;
      color: #ddd;
      text-decoration: none;
      &:hover,
      &.sideMenu__active {
        background-color: #f5f5f5;
        color: #363636;
      }
    }
  }
}

.logo {
  top: 0;
  left: 0;
  z-index: 1;
  position: fixed;
  width: 250px;
  height: 70px;
  background: $info;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  & > img {
    width: 80px;
    height: auto;
    filter: brightness(0) invert(1);
  }
  @include breakpoint(mobile) {
    display: none;
  }
}

.hamburger__checkbox {
  display: none;
  &:checked ~ aside {
    margin-left: -250px;
  }
}
.hamburger__button {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  font-size: 30px;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: white;
  cursor: pointer;
  @include breakpoint(mobile) {
    color: black;
  }
}
