@import "./variables.scss";

@mixin color-variants {
  &.danger {
    background-color: $danger;
    color: white;
    border: none;
  }
  &.warning {
    background-color: $warning;
  }
  &.info {
    background-color: $info;
  }
  &.success {
    background-color: $success;
    color: white;
  }
}

@mixin visible {
  display: none;
  &.visible {
    display: block;
  }
}