
$danger: #BF0B0B;
$success: #07AF85;
$info: #1A8CE7;
$warning: #fff700;

$footer-height: 75px;
$navbar-height: 4rem;
$sidebar-width: 250px;

$default-radius: 8px;
$padding: 1.5rem;
$padding-small: 1rem;
